/* 
Syntaxes
- border-width: 1px
- border-style: solid | dotted | dashed
- border-color: red
Shorthand
- border-width: top right bottom left
- border: top left-right bottom;
- border: top-bottom left-right;

    border-top-width: 1px
    border-right-width: 1px
*/
.list-item {
    color: red;
    font-weight: bold;
    padding: 16pt;
    margin-bottom: 8pt;
    border-width: 1pt;
    border-style: solid;
    border-color: #20aa4e;
    border-radius: 10pt;
}