extends ../layouts/common

block content
    h1 New transfer
    form(method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        .mb-3
            label(for='account') Account
            input#account.form-control(name='accountId', type='text')
        .mb-3
            label(for='amount') Amount
            input#amount.form-control(name='amount', type='number')

        button.btn.btn-primary Transfer