/* 
display: flex
flex-direction
justify-content: flex-start* | flex-end | center | space-between | space-around | space-evenly
align-items: flex-start | flex-end | center | baseline | stretch*

flex-basis: <length> | auto*;
flex-grow: <number> | 0*
flex-shrink: <number> | 1*
order: <number> | 0*
*/
body {
    font-family: Arial, sans-serif;
}

.album-cover {
    width: 128px;
    height: 128px;
    background-color: #DDD;
    background-image: url(https://loremflickr.com/320/240);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-size: 20px;
}
.album-cover .overlay {
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: flex-end;
    padding: 8px;
    box-sizing: border-box;
    
}




