body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    font-size: 30px;
    transition: .2s all;
    box-shadow: 0px 5px 15px #000;
    position: relative;
    cursor: pointer;
}

button:nth-child(1) {
    border: 2px solid #ff0000;
    color: #ff0000;
}

button:nth-child(2) {
    border: 2px solid #00ff00;
    color: #00ff00;
}

button:nth-child(1):hover {
    background-color: #ff0000;
    color: #000;
}

button:nth-child(2):hover {
    background-color: #00ff00;
    color: #000;
}

button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 15px #000;
}

button:active {
    transform: translate(-5px, 5px);
}

button::before {
    content: attr(data-content);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    opacity: 0;
    transition: 500ms all cubic-bezier(0.68, -0.55, 0.26, 1.55);
}
button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 500ms all cubic-bezier(0.68, -0.55, 0.26, 1.55);
}

button:nth-child(1)::after{
    border-top: 8px solid #ff0000;
}

button:nth-child(2)::after{
    border-top: 8px solid #00ff00;
}

button:nth-child(1)::before {
    border: 2px solid #ff0000;
}

button:nth-child(2)::before {
    border: 2px solid #00ff00;
}

button:nth-child(1):hover::before {
    color: #ff0000;
}

button:nth-child(2):hover::before {
    color: #00ff00;
}

button:hover::before  {
    opacity: 1;
    top: -70%;
}

button:hover::after {
    opacity: 1;
    top: -46%
}