extends ../layouts/common

block content
    span.me-3 Users
    a.btn.btn-primary(href="/users/create") New
    .d-flex.align-items-center
        form.ms-auto(action='/users/search', method='GET', class="d-flex")
            input(type='text', name='q', id="input-field", class="form-control")
            button(class="btn btn-primary ms-2") Search

    table.table
        tr
            th Name
            th Phone
            th Actions
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href="/users/" + user.id) View

    script.
        var searchInput = document.getElementById('input-field');
        var value = searchInput.value;
        console.log(value);
        searchInput.addEventListener('change', function() {
        sessionStorage.setItem('draft', searchInput.value)})
        searchInput.value = sessionStorage.getItem('draft');