extends ../layouts/common

block content
    h1 Users

    a(href="/users/create") New

    form(action='/users/search', method='GET', class="d-flex")
        input(type='text', name='q', id="input-field", class="form-control")
        button(class="btn-primary ms-2") Search

    ul
        each user in users
            li
                span= user.name
                span &nbsp;
                a(href="/users/" + user.id) View

    script.
        var searchInput = document.getElementById('input-field');
        var value = searchInput.value;
        console.log(value);
        searchInput.addEventListener('change', function() {
        sessionStorage.setItem('draft', searchInput.value)})
        searchInput.value = sessionStorage.getItem('draft');