/* 
position: static* | realtive | fixed | absolute | sticky
top bottom left right
*/

/* .container {
    display: flex;
} */

.box {
    width: 100px;
    height: 100px;
    color: #FFF;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    /* position: relative;
    left: 20px;
    top: 10px; */
}

.blue {
    background-color: blue;
}

.fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
